<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>246877639142-87gm7v9t4v70uut8ohf2jojnodfsqh5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246877639142-87gm7v9t4v70uut8ohf2jojnodfsqh5e</string>
	<key>API_KEY</key>
	<string>AIzaSyAAZS9uBswuxVAWvpe_ycRuY9ckxO35gzs</string>
	<key>GCM_SENDER_ID</key>
	<string>246877639142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MPOOLogin</string>
	<key>PROJECT_ID</key>
	<string>registro-d11ed</string>
	<key>STORAGE_BUCKET</key>
	<string>registro-d11ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246877639142:ios:9528928058b03b85</string>
	<key>DATABASE_URL</key>
	<string>https://registro-d11ed.firebaseio.com</string>
</dict>
</plist>